{% extends '::base.html.twig' %}
{% block title %}Home page{% endblock %}
{% block body %}
<p>ESTE ES EL CONTENIDO DE LA HOME DEL FRONTEND!</p>
<p><a href="/app_dev.php/merchant">¿Eres merchant?</a></p>
{% endblock %}